langchain
unstructured
pandas
chromadb
tiktoken
openai
pypdf
pinecone-client
docarray
faiss
faiss-cpu
pymupdf
jq
tiktoken
docarray
redis
yfinance
apify-client
gradio_tools
gql
transformers
huggingface_hub
duckduckgo-search